/* https://www.figma.com/file/ahnGupP4JjTdVJDTRfMRF2/edie-homepage?type=design&node-id=0-1&mode=design&t=vSll6RBR97Tnohq2-0 */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Montserrat:wght@700&family=Poppins:wght@300;400;500;700&display=swap');


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth
}

html{
    box-sizing: border-box;
    font-family: sans-serif;
}

*, *:before, *:after { box-sizing: inherit; }

body {
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header"
    "main"
    "footer";
    color: #333333;
}

h1,h2,h3,h4,h5,h6 { margin: 0; }

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a { 
    text-decoration: none;
    color: inherit;
}

img { -webkit-user-drag: none;}

header {
    grid-area: header;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
}
span.logo { font: 800 2.25rem 'Heebo', sans-serif; }

header nav#navbar { width: 50%; }
header #navbar ul {
    height: 100%;
    font: 500 1.5rem 'Poppins', sans-serif; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav #hamburguer-menu { display: none; }

.hover-underline-animation {
    display: inline-block;
    position: relative;
}
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


main {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    grid-area: main;
    grid-template-areas: 
    "Home"
    "Services"
    "Works"
    "Team"
    "Clients";
    justify-items: center;
    gap: 5vh 0;
}

main section {
    height: auto;
    padding: 5% 10%;
}

section#Home{
    grid-area: Home;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    ". beforeImage beforeImage ."
    "image image image image"
    ". afterImage afterImage .";
    row-gap: 5vh;
    padding: 5% 0;
}

#Home .before-img {
    width: 80%;
    grid-area: beforeImage;
    display: flex;
    flex-direction: column;
}

.before-img h6 {
    color: #2D9CDB;
    font: 500 1.15rem 'Poppins', sans-serif;
}
.before-img h3, .after-image h3 { font: 500 3rem 'Poppins', sans-serif; }

#Home img#heroImage {
    width: 95%;
    grid-area: image;
    place-self: center;
    border-radius: 1.15rem;
}
#Home .after-image {
    grid-area: afterImage;
    width: 55%;
}
.after-image p { font: 400 1.1rem 'Poppins', sans-serif; }

form.to-contact-you {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "title"
    "wrapper";
}

form.to-contact-you h6 {
    grid-area: title;
    font: 500 0.9rem 'Poppins', sans-serif;
    color: #828282;
}

form.to-contact-you .wrapper {
    grid-area: wrapper;
    position: relative;
    width: 95%;
}
form.to-contact-you .wrapper > * { font: 500 1.125rem 'Poppins', sans-serif; }

form.to-contact-you input {
    width: 100%;
    padding: .8rem;
    padding-right: 40%;
    border-radius: 12px;
    background-color: #F2F2F2;
}
form.to-contact-you button[type="submit"] {
    position: absolute;
    right: 2%;
    top: 8%;
    background-color: #2D9CDB;
    color: #F2F2F2;
    border-radius: 12px;
    padding: .6rem 1.5rem;
    cursor: pointer;
}

form.to-contact-you input, form.to-contact-you button[type="submit"] {
    border: none;
    outline: none;
}



section#Services{
    grid-area: Services;
    width: 100%;
}

#Services h5 {
    width: 40%;
    font: 500 2.25rem 'Poppins', sans-serif;
}

#Services .list-services {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.list-services li.card-service {
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 1.5vh;
    padding: 5% 3%;
    border-radius: 1.5rem;
    transition: box-shadow 0.2s ease-in-out;
}

li.card-service:hover { box-shadow: 0px 10px 30px 0px #33333372; }

li.card-service i {
    width: 67px;
    height: 67px;
    border-radius: 1rem;
    display: grid;
    align-items: center;
    justify-items: center;
    font-style: normal;
}

li.card-service .title-service { font: 700 1.5rem 'Poppins', sans-serif; }
li.card-service p {
    font: 400 1rem 'Poppins', sans-serif;
    color: #4F4F4F;
}
li.card-service button {
    width: 50%;
    padding: .5rem;
    background-color: #E0E0E0;
    border-radius: 12px;
    font: 500 1rem 'Poppins', sans-serif; 
    color: #828282;
    border: none;
    cursor: pointer;
}
li.card-service button:hover {
    background-color: #2D9CDB;
    color: white;
}

li.card-service:first-child i  { background-color: #2D9CDB; }
li.card-service:nth-child(2) i { background-color: #27AE60; }
li.card-service:last-child i   { background-color: #EB5757; }


section#Works{
    grid-area: Works;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
}

#Works h5 {
    width: 40%;
    font: 500 2.25rem 'Poppins', sans-serif;
}
#Works ul.list-projects {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

#Works ul.list-projects li.card-project {
    width: 95%;
    display: flex;
    flex-direction: column;
}

#Works ul.list-projects li.card-project:nth-child(2n+1) {
    padding-top: 25%;
    place-self: end start;
}

li.card-project img {
    width: 100%;
    height: auto;
    border-radius: 1.5rem;
    filter: blur(2px) grayscale(100%);
    transition: filter 0.25s ease-in-out;
}
#Works ul.list-projects li.card-project:hover img { filter: blur(0px) grayscale(0%); }

li.card-project .type-project { 
    font: 300 .9rem 'Poppins', sans-serif;
    color: #828282;
}
li.card-project .title-project { font: 500 1.5rem 'Poppins', sans-serif;}

#Works a#see-all-projects {
    font: 500 1.5rem 'Poppins', sans-serif;
    color: #2D9CDB;
    place-self: end;
}

section#Team{
    grid-area: Team;
    width: 100%;
    display: grid;
    grid-template-columns:  30% 70%;
    grid-auto-rows: auto;
    grid-template-areas: "description gallery";
    align-items: center;
}

#Team .description-team { grid-area: description; }

.description-team .tiny-text {
    font: 500 1.125rem 'Poppins', sans-serif;
    color: #EB5757
}
.description-team h5 { font: 500 2.25rem 'Poppins', sans-serif; }
.description-team p {
    width: 80%;
    font: 400 1rem 'Poppins', sans-serif;
    color: #4F4F4F;
}

#Team .grid-gallery-team {
    grid-area: gallery;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
    grid-template-areas:
        "img1 img2"
        "img1 img3";
    gap: 1vw 2vh;
    justify-self: end;
}

.grid-gallery-team img { border-radius: 1.5rem; }
.grid-gallery-team img:first-child { 
    grid-area: img1;
    place-self: center end;
 }
.grid-gallery-team img:nth-child(2) { grid-area: img2; }
.grid-gallery-team img:last-child { grid-area: img3; }


section#Clients{
    width: 100%;
    grid-area: Clients;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    grid-template-areas:
        "phrase"
        "card";
    gap: 5vh 0;
}

#Clients h5.phrase {
    width: 85%;
    font: 500 2.25rem 'Poppins', sans-serif;
}
#Clients .card-client {
    display: grid;
    grid-template-columns: 8% auto;
    grid-auto-rows: auto;
    grid-template-areas:
        "img name"
        "img enterprise";
    align-items: end;
    gap: 0 2vw;
}
.card-client img{
    grid-area: img;
    width: 100%;
    height: auto;
    border-radius: 12px;
}
.card-client .name{
    grid-area: name;
    font: 500 1.5rem 'Poppins', sans-serif;
}
.card-client .enterprise{
    grid-area: enterprise;
    font: 500 1.125rem 'Poppins', sans-serif;
    color: #828282;
}


footer#Contact {
    grid-area: footer;
    padding: 3% 10% 1% 10%;
    background-color: #100E1D;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas: 
    "sections socials . form"
    ". createdby createdby .";
    align-items: start;
}

#Contact ul.list-sections {
    font: 400 1.125rem 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1.5vh;
}

#Contact .socials {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "logo"
    "social-networks";
}

.socials .logo { grid-area: logo; }

.socials ul.list-social-networks { 
    grid-area: social-networks;
    display: flex;
    column-gap: 1vw;
}
ul.list-social-networks li.social-link { font-size: 2rem; }

#Contact form.to-contact-you { grid-area: form; }

#Contact .created-by {
    height: 15vh;
    grid-area: createdby;
    display: grid;
    place-items: end center;
}


@media (max-width: 375px) {

    body { max-width: 375px; }
    header { padding: .5rem; }
    span.logo { font: 800 2.25rem 'Heebo', sans-serif; }
    header #navbar ul { display: none; }
    header nav { 
        display: grid;
        align-items: center;
        justify-items: end;
    }
    header nav #hamburguer-menu { display: block; }

    section#Home{
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        "beforeImage"
        "image"
        "afterImage";
        row-gap: 5vh;
        padding: 5%;
    }
    
    #Home .before-img {
        width: 100%;
        padding: 0 10%;
    }
    
    .before-img h6 { font-size: 12px; }
    .before-img h3, .after-image h3 { font-size: 1.5rem; }
    
    #Home img#heroImage { width: 100%; }
    #Home .after-image {
        width: 100%;
        padding: 0 10%;
    }
    .after-image h3 { width: 70%;}
    .after-image p  { font-size: 12px;}
        
    form.to-contact-you h6 { font-size: 10px; }
    form.to-contact-you .wrapper > * { font-size: 14px; }


    section#Services{ width: 100%; }
    
    #Services h5 {
        width: 80%;
        font-size: 1.5rem;
    }
    
    #Services .list-services { flex-direction: column; }
    
    .list-services li.card-service {
        width: 100%;
        padding: 20% 3%;
    }
   

    section#Works{ 
        padding: 5%;
        gap: 3vh 0;
    }
    
    #Works h5 {
        width: 80%;
        font-size: 1.5rem;
        justify-self: center;
    }
    #Works ul.list-projects {
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        gap: 5vh 0;
    }
    #Works ul.list-projects li.card-project { width: 100%; }
    
    #Works ul.list-projects li.card-project:nth-child(2n+1) {
        padding-top: 0;
        place-self: inherit;
    }
    
    li.card-project .type-project  { font-size: 12px; }
    li.card-project .title-project { font: 500 1.125rem 'Poppins', sans-serif; }
    
    #Works a#see-all-projects { 
        font-size: 1.125rem;
        place-self: start;
    }
    
    section#Team{
        grid-template-columns: 100%;
        grid-auto-rows: auto;
        grid-template-areas: "description"
        "gallery";
    }

    
    #Team .grid-gallery-team {
        grid-area: gallery;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-auto-rows: auto;
        grid-template-areas:
            "img1 img2"
            "img1 img3";
        gap: 1vw 2vh;
        justify-self: end;
    }
    
    .grid-gallery-team img { 
        width: 100%;
        height: auto;
    }
    .grid-gallery-team img:nth-child(2) { width: 85%; }
        
    section#Clients{ padding: 20% 10%; }

    #Clients h5.phrase {
        width: 100%;
        font-size: 1.5rem;
    }

    #Clients .card-client {
        grid-template-columns: 30% auto;
        justify-content: space-between;
    }
    .card-client img{ place-self: center; }

        
    footer#Contact {
        padding: 10% 10% 5% 10%;
        grid-template-columns: 100%;
        grid-auto-rows: auto;
        grid-template-areas: 
        "sections" 
        "socials"
        "form"
        "createdby";
        gap: 10vh 0;
    }
}
